---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2022 - Nowadays...",
    title: "Mobile engineer at BairesDev",
    company: "BairesDev",
    description:
      "Currently developing mobile applications at BairesDev using Flutter. Leading development of a client-facing app for a UK-based company, focused on delivering intuitive user experiences with responsive design and seamless functionality.",
  },
  {
    date: "2018 - 2022",
    title: "Tech Lead",
    company: "TiviTrace Honduras",
    description:
      "Led a team of five engineers in developing a cross-platform mobile app for TiviTrace using Flutter and Dart, delivering a user-friendly solution for real-time vehicle tracking. Additionally, developed a standalone FaceID recognition app used in the field to verify worker attendance and GPS location, ensuring presence at the correct site. Also contributed to the main web platform built with Angular 12.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
